//https://www.youtube.com/watch?v=B9xJcr_EFSo

ion-content{
    --ion-background-color:#E6E6E6;
}

.meusDados{
    padding: 10px;
    margin: 20px;
    background: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #BDBDBD;
    border-radius: 6px;
}

.meusDadosImg{
    padding: 10px;
    margin: 20px;
    background: #f6f6f6;
    border-style: solid;
    border-width: 0.5px;
    border-color: #BDBDBD;
    border-radius: 6px;
}

.fotoPagePerfil{
    border-radius: 6px;
}














