
    .bg-image{
        --background : url('../../assets/imagens/fundo/img3.jpeg') no-repeat center center / cover;//Por imagem como fundo da pagina;
 
       
    }

    h1{
        //font-family:'calibri';
        font-family: 'Pacifico';
        color: #fff;
        text-align: center;
        font-size: 50px;
        padding-top: 15px;
    }
    h1 span{
        //font-family:'calibri';
        font-family:'RobotoRegular';
        font-size: 13px;
        position: absolute;
        margin-top: 55px;
        margin-left: -50px;
    }

    .list{
        width: 75%;
        margin: auto;
        margin-top: 40px;
        background-color: transparent !important;
    }

    .botaoEntrar{
        text-align: center;
    }

    .p{
        color: white;
    }
    
    












    //Importação de Font's
    @font-face {
        font-family: 'Pacifico';
        font-style: normal;
        font-weight: normal;
        src: url('../../assets/fonts/Pacifico-Regular.ttf');
    }
    @font-face {
        font-family: 'RobotoRegular';
        font-style: normal;
        font-weight: normal;
        src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
    }


    
    