<ion-header>
  <ion-toolbar color="light">
    <ion-title>Developer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3 text-center>Desenvolvedor</h3>
  
  <!--Grid IONIC -->
  <ion-row>
    <ion-col>
      <!-- ... -->
    </ion-col>
    <ion-col size="4">
      <ion-img class="imgFillipe" src="../assets/imagens/fillipeAnjosRedondo.png"></ion-img>      
    </ion-col>
    <ion-col>
      <!-- ... -->
    </ion-col>
  </ion-row>

  <h5 text-center>Fillipe Anjos</h5>

  <!-- Redes Sociais -->
  <ion-row align-items-center>
    <ion-col size="3">
        
    </ion-col>
    <ion-col size="6">
        <ion-icon name="logo-facebook" (click)="linkRedesSociais(1)" class="iconDeveloper" style="color: #101a5f; width: 50px; height: 30px;"></ion-icon>
        <ion-icon name="logo-github" (click)="linkRedesSociais(2)" class="iconDeveloper" style="width: 50px; height: 30px;"></ion-icon>
        <ion-icon name="logo-linkedin" (click)="linkRedesSociais(3)" class="iconDeveloper" style="color: #2E64FE; width: 50px; height: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="3">
        
    </ion-col> 
  </ion-row>

  <!-- Celular -->
  <ion-row align-items-center>
    <ion-col size="2">
        <ion-icon name="call" style="width: 50px; height: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="10">
        21 9 8208-0673 / 21 9 6684-6099
    </ion-col>
    <ion-col size="0">
        
    </ion-col> 
  </ion-row>

  <!-- Whatzap -->
  <ion-row align-items-center>
    <ion-col size="2">
        <ion-icon name="logo-whatsapp" style="color: #04B404; width: 50px; height: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="10">
        +55 21 9 8208-0673
    </ion-col>
    <ion-col size="0">
        
    </ion-col> 
  </ion-row>

  <!-- Localidade -->
  <ion-row align-items-center>
    <ion-col size="2">
        <ion-icon name="pin" style="color: #D81D1D; width: 50px; height: 30px;"></ion-icon>
    </ion-col>
    <ion-col size="10">
        São Gonçalo / RJ
    </ion-col>
    <ion-col size="0">
        
    </ion-col> 
  </ion-row>

  <!-- Site -->
  <ion-row align-items-center>
      <ion-col size="2">
          <ion-icon name="globe" style="width: 50px; height: 30px;"></ion-icon>
      </ion-col>
      <ion-col size="10">
          fillipeanjos.tk
      </ion-col>
      <ion-col size="0">
          
      </ion-col> 
    </ion-row>  

  
</ion-content>
