<ion-header>
  <ion-toolbar color="light">
    <ion-title> </ion-title>

    <ion-row>
      <ion-col size="3">
        &nbsp;&nbsp;<img src="../../assets/icon/logos/E.png" alt="" style="width: 36px; height: 17px;">
      </ion-col>
      <ion-col size="2">
       
      </ion-col>
      <ion-col size="1">
        <ion-icon name="pin">
         
        </ion-icon>
      </ion-col>
      <ion-col size="6" >
        <span class="localidade">São Gonçalo - RJ</span> 
      </ion-col>
    </ion-row>

  
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>
      <img src="../../assets/imagens/categorias/descontos.png" alt="" class="imgCategoriasDescontos">
      <br/><br/>

    <img src="../../assets/imagens/categorias/unhas.png" alt="" (click)="imgCategorias(1)" class="imgCategorias">
    <br/><br/>

    <img src="../../assets/imagens/categorias/cabelos.png" alt="" (click)="imgCategorias(2)" class="imgCategorias">

    <br/><br/>

    <img src="../../assets/imagens/categorias/maquiagem.png" alt="" (click)="imgCategorias(3)" class="imgCategorias">
  </div>

</ion-content>
